certifi==2022.5.18.1; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.8"
colorama==0.4.4; python_version >= "3.8" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and python_version >= "3.8" and platform_system == "Windows"
cycler==0.11.0; python_version >= "3.8"
diode @ git+https://github.com/mrzv/diode.git@master
dionysus==2.0.8
fonttools==4.33.3; python_version >= "3.8"
future==0.18.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
idna==3.3; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
joblib==1.1.0; python_version >= "3.8"
kiwisolver==1.4.2; python_version >= "3.8"
latexcodec==2.0.1; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
matplotlib==3.5.2; python_version >= "3.8"
monty==2022.4.26; python_version >= "3.8"
mpmath==1.2.1; python_version >= "3.8"
networkx==2.8.2; python_version >= "3.8"
numpy==1.22.4; python_version >= "3.8"
packaging==21.3; python_version >= "3.8"
palettable==3.3.0; python_version >= "3.8"
pandas==1.4.2; python_version >= "3.8"
pillow==9.1.1; python_version >= "3.8"
plotly==5.8.0; python_version >= "3.8"
pybtex==0.24.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pyclustering==0.9.3.1; python_version >= "3.5"
pymatgen==2022.5.26; python_version >= "3.8"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.8"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pytz==2022.1; python_version >= "3.8"
pyyaml==6.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
requests==2.27.1; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.8"
ruamel.yaml==0.17.21; python_version >= "3.8"
scikit-learn==1.1.1; python_version >= "3.8"
scipy==1.6.1; python_version >= "3.8"
setuptools-scm==6.4.2; python_version >= "3.8"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
sklearn==0.0
spglib==1.16.5; python_version >= "3.8"
sympy==1.10.1; python_version >= "3.8"
tabulate==0.8.9; python_version >= "3.8"
tenacity==8.0.1; python_version >= "3.8"
threadpoolctl==3.1.0; python_version >= "3.8"
tomli==2.0.1; python_version >= "3.8"
tqdm==4.64.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
uncertainties==3.1.6; python_version >= "3.8"
urllib3==1.26.9; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.8"
