argh==0.*,>=0.26.2
git+https://github.com/mrzv/diode.git#egg=diode
dionysus==2.*,>=2.0.0
joblib==0.*,>=0.14.1
numpy==1.*,>=1.18.1
pyclustering==0.*,>=0.9.3
pymatgen==2020.*,>=2020.12.3
pytest==3.*,>=3.0.0
rich==2.*,>=2.2.3
sklearn==0.*,>=0.0.0
tabulate==0.*,>=0.8.6
tqdm==4.*,>=4.40.0
